.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  min-height: 100vh;
}


.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

/* .card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
} */

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

  .northstar{
    height: 4vw;
    width: auto;
    margin-bottom: 2vw;
    position: relative;
    animation: riseIn 2.5s ease-out forwards;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .northstar{
    height: 4vw;
    width: auto;
    margin-bottom: 2vw;
    position: relative;
    animation: riseIn 2.5s ease-out forwards;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


@font-face {
  font-family: 'Maharlika';
  src: local('Maharlika'), url(../fonts/Maharlika/Maharlika-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Alex Brush';
  src: local('Alex_Brush'), url(../fonts/Alex_Brush/AlexBrush-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'RetroPix';
  src: local('Retropix'), url(../fonts/Retropix/retropix.ttf) format('truetype');
}

@font-face{
  font-family: 'Silkscreen Reg';
  src: local('Silkscreen'), url(../fonts/Silkscreen/Silkscreen-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Silkscreen Bold';
  src: local('Silkscreen'), url(../fonts/Silkscreen/Silkscreen-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium_Web'), url(../fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: 'PT Sans';
  src: local('PT_Sans'), url(../fonts/PT_Sans/PTSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT_Sans'), url(../fonts/PT_Sans/PTSans-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT_Sans'), url(../fonts/PT_Sans/PTSans-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT_Sans'), url(../fonts/PT_Sans/PTSans-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: local('PT_Sans_Caption'), url(../fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans Caption Bold';
  src: local('PT_Sans_Caption'), url(../fonts/PT_Sans_Caption/PTSansCaption-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900; /* Specify the font weight range */
}

.northstar{
  height: 7em;
  width: auto;
  margin-bottom: 2em;
  position: relative;
  animation: riseIn 3s ease-out forwards;
}

.butterfly{
  height: 2.7em;
  width: auto;
}

.butterflying {
  position: absolute;
  bottom: 35%;
  left: 83%;
  transition: fadeIn 5s ease-in-out;
}


.headertitle{
  font-family: 'Maharlika';
  font-size: 4em;
  color: #f5f3ec;
  animation: textglow 2s ease-in-out infinite alternate;
  margin-left: 0.02em;
  position: relative;
  text-align: center;
  margin-top: -0.2em;
}

.headerletter{
  font-family: 'Alex Brush';
  font-size: 8em;
  color: #f5f3ec;
  animation: textglow 2s ease-in-out infinite alternate;
  margin-top: -0.5em;
  text-align: center;
}

.headercontainer{
  flex-direction: row;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  animation: fadeIn 2.5s ease-in-out;
  margin-top: 0;
}

.frontpagemenu{
  display: flex;
  flex-direction: row;
  flex:7;
  justify-content: center;
}

.itemcontainer {
  width: 17em;
  height: 17em;
  overflow: hidden;
  border-radius: 50%;
  /* box-shadow: inset 0 0 20px 12px rgb(255, 148, 179); */
  align-items: center;
  align-content: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: breathing2 3s ease-in-out infinite;
}

.circularitem {
  width: 14em;
  border-radius: 50%;
}

.menutitle{
  font-family: 'Silkscreen Reg';
  font-size: 32px;
  color: #f5f3ec;
  margin-top: 2%;
  text-shadow: 0 0 10px #f5f3ec;
}

.subheading{
  font-family: 'Maharlika';
  font-size: 36px;
  color: #f5f3ec;
  text-align: center;
  animation: textglow 2s ease-in-out infinite alternate;
}

.subheading2{
  font-family: 'Silkscreen Reg';
  font-size: 20px;
  color: #f5f3ec;
  text-align: center;
  margin-bottom: 5%;
  animation: textglow 2s ease-in-out infinite alternate;
}

.subheadingcontainer{
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2.5s ease-in-out;
}

.unhhhh{
  animation: fadeIn 2.5s ease-in-out;
}

.outerglow{
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px rgba(255, 134, 168, 0.8);
}

.outerglow:hover {
  animation: breathing 1s ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes breathing {
  0% { 
    box-shadow: 0 0 3px 3px rgba(255, 134, 168, 0.8);
    transform: scale(1);
  }
  100% { 
    box-shadow: 0 0 15px 15px rgba(255, 134, 168, 0.99);
    transform: scale(1.05);
  }
  /* 100% { 
    box-shadow: 0 0 3px 3px rgba(255, 134, 168, 0.8);
    transform: scale(1);
  } */
}

@keyframes breathing2 {
  0% { 
    box-shadow: inset 0 0 20px 12px rgba(255, 148, 179, 0.7);
  }
  50% { 
    box-shadow: inset 0 0 20px 12px rgba(255, 148, 179, 1);
  }
  100% { 
    box-shadow: inset 0 0 20px 12px rgba(255, 148, 179, 0.7);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* Transition to 1 opacity */
  }
}

@keyframes riseIn{
  0% {
    opacity: 0;
    transform: translateY(90%) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes textglow {
  from {
    text-shadow: 0 0 10px #F4EEDD, 0 0 20px #e0d5b5;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px rgba(255, 148, 179, 0.7), 0 0 40px rgba(255, 148, 179, 0.7), 0 0 50px rgba(255, 148, 179, 0.7);
  }
}



.pageletter{
  font-family: 'Alex Brush';
  font-size: 6em;
  color: rgb(215, 245, 206);
  text-shadow: 0 0 15px rgba(233, 253, 226, 0.5);
  text-align: center;
  margin-top: 0.2em;
}

.pagetitle{
  font-family: 'Maharlika';
  font-size: 3em;
  color: rgb(215, 245, 206);
  text-align: center;
  align-self: center;
  text-shadow: 0 0 15px rgba(233, 253, 226, 0.5);
  margin-left: 0.02em;
  margin-top: 0.5em;
}

.abouttitlecontainer{
  background-image: url('../../public/cloud-bg.png');
  background-size: cover;
  background-position: center;
  animation: fadeIn 1.0s ease-in-out;
}

.projectstitlecontainer{
  background-image: url('../../public/greenpinkwater.jpg');
  background-size: cover;
  background-position: center;
  animation: fadeIn 1.0s ease-in-out;
}

.titlecontainerdark{
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 0;
}

.subtitle{
  font-family: 'Maharlika';
  font-size: 36pt;
  color: #faf9f5;
}

.rowcontainer{
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 10%;
  padding-left: 10%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.subtitle2{
  font-family: 'Maharlika';
  font-size: 1.6em;
  color: #faf9f5;
}

.bodytext{
  font-family: 'Inter';
  font-weight: 300;
  font-size: 1.3em;
  line-height: 2em;
  color: #19321b;
}

.desc{
  font-family: 'Inter';
  font-weight: 300;
  font-size: 1.3em;
  color: #faf9f5;
  line-height: 1.7em;
}


.smallpic{
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.textcontainer{
  padding: 4.5em;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #faf9f5;
  border-radius: 10px;
  margin-bottom: 5%;
}

@media (max-width: 650px) {
  .subtitle{
    font-family: 'Maharlika';
    font-size: 20pt;
    color: #faf9f5;
  }
  .subtitle2{
    font-family: 'Maharlika';
    font-size: 14pt;
    color: #faf9f5;
  }
  .rowcontainer{
    margin-bottom: 5%;
    margin-right: 3%;
    margin-left: 3%;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .desc{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12pt;
    color: #faf9f5;
  }

  .bodytext{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12pt;
    line-height: 1.7em;
    color: #19321b;
  }

  .textcontainer{
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #faf9f5;
    border-radius: 10px;
    margin-bottom: 5%;
  }

}
@media (min-width: 651px) and (max-width: 1120px) {
  .subtitle{
    font-family: 'Maharlika';
    font-size: 32pt;
    color: #faf9f5;
  }
  .subtitle2{
    font-family: 'Maharlika';
    font-size: 18pt;
    color: #faf9f5;
  }
  .desc{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15pt;
    color: #faf9f5;
  }

  .bodytext{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14pt;
    line-height: 2em;
    color: #19321b;
  }

  .textcontainer{
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #faf9f5;
    border-radius: 10px;
    margin-bottom: 5%;
  }
}

/* NAVBAR STYLING */
.prettynav{
  background-color:#f7f0f3; 
  justify-content: center;
  position: relative;
}


.brandName{
  font-family: 'Maharlika';
  font-size: 1.5em;
  color: rgb(126, 156, 116);
  text-align: center;
  justify-content: center;
  align-self: center;
}

.navItem{
  font-family: 'Silkscreen Reg';
  font-size: 1.2em;
}
